# OS
.DS_Store

# IDE
.dir-locals.el
.idea/
.vscode/
.vim

# Rust
.cargo/
target/
/Cargo.lock
integration-tests/Cargo.lock

# Project
acceptance/tests/dat/
ffi/examples/read-table/build
/build
/kernel/target
/target
